@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Roboto:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

hr {
  border-top: 2px solid #ff220c;
  width: 80%;
  margin: 0 auto;
}

/* Links Each state */
a:visited {
    text-decoration: none;
    color: #ff220c;
  }
  a:hover {
    text-decoration: none;
    color: #ff220c;
  }
  a:focus {
    text-decoration: none;
    color: #ff220c;
  }
  a:hover,
  a:active {
    text-decoration: none;
    color: #ff220c;
  }

/* header */

#header {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    background-color: #333;
    border-bottom: 2px solid red;
}

#header > a {
    font-size: 35px;
    color: #fff;
}

#nav-menu {
    display: flex;
}

#nav-menu li {
    margin-right: 30px;
}

#nav-menu li a {
    color: #fff;
    font-size: 20px;
}

/* Hero Image and Content */

#hero-image {
    height: 600px;
    width: 100%;
    background: url("./images/hero.jpg") no-repeat center center;
}

#hero-section {
    position: relative;
}

#hero-section h1 {
    text-align: center;
    font-size: 100px;
    position: absolute;
    top: 505px;
    left: 310px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    animation: centered-text;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes centered-text {
  from {
    top: 505px;
    left: 1500px;
    color: #000;
    opacity: 0;
  }
  to {
    top: 250px;
    left: 350px;
    color: #ff220c;
    opacity: 1;
  }

}

.active {
  border-bottom: 1px solid #ff220c;
}

/* About */

#about {
  text-align: center;
  margin: 2rem 0 2rem 0 ;
}

#about-content {
  width: 100%;
  padding: 0 3rem 0 3rem;
  margin: 1rem 0 1rem 0;
}

#about-content p,
#about-functional-fitness p {
  line-height: 1.4;
}

#about-functional-fitness {
  padding: 0 3rem 0 3rem;
  margin: 1rem 0 1rem 0;
}

/* Photos */

.photos {
  text-align: center;
  margin: 3rem 0 3rem 0;
}

/* Pricing Panel */

#panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  margin-right: 75px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #ff220c;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  margin: 50px 0 25px;
  color: #ff220c;
}

.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child{
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #ff220c; 
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #ff220c;
  border-radius: 10px;
  color: #ff220c;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #ff220c;
  color: white;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus{
  background-color: #ff220c;
  color: white;
}

.block {
  display: block;
}

/* Extra Information */

#extra-information {
  text-align: center;
  width: 100% ;
  margin-bottom: 1rem;
  text-transform: uppercase;
}


/* Premises */

/* #premises h3 {
  text-align: center;
  background-color: burlywood;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

#operating-hours {
  width: 40%;
  text-align: center;
}

#operating-hours ul li {
  margin-bottom: 15px;
  border-bottom: 1px solid red;
}

#operating-hours ul li:last-child {
  margin-bottom: 0;
}

#map {
  width: 60%;
  background-color: brown;
} */
/* Footer */

#main-footer {
    height: 5rem;
    background-color: #333;
    width: 100%;
    color: white;
    border-top: 2px solid #ff220c;
    padding-top: 1.4rem;
  }
  
  #main-footer .footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1.5rem;
  }
  
  #main-footer img {
    width: 30px;
    height: 30px;
  }
  
  #main-footer .footer-content .footer-icons a {
    padding: 0 1rem 0 0;
  }
  
  #main-footer .footer-content .footer-icons a:last-child {
    padding: 0;
  }